# Visualización del analisis por ventas

In [14]:
import sys
import os
import pandas as pd
sys.path.append(os.path.abspath("src"))

In [15]:
from load_data import (
    load_customers, load_employees, load_products, load_sales,
    load_categories, load_cities, load_countries
)

from analysis.context import AnalysisContext
from analysis.product_analysis import ProductAnalysisStrategy
from analysis.city_analysis import CityAnalysisStrategy

In [16]:
customers = load_customers('data/customers.csv')
employees = load_employees('data/employees.csv')
products = load_products('data/products.csv')
sales = load_sales('data/sales.csv')
categories = load_categories('data/categories.csv')
cities = load_cities('data/cities.csv')
countries = load_countries('data/countries.csv')

print(f"{len(sales)} ventas cargadas.")

50000 ventas cargadas.

## Analisis por Producto

In [17]:
context = AnalysisContext(ProductAnalysisStrategy())
product_results = context.execute_analysis(sales, products, customers, cities)
print(f"{len(product_results)} resultados de análisis de productos generados.")
product_results[:5]

452 resultados de análisis de productos generados.

[(177, 23871.0), (250, 23726.0), (422, 23566.0), (287, 23074.0), (65, 22977.0)]

##  Analisis por Ciudad

In [18]:
context.set_strategy(CityAnalysisStrategy())
city_results = context.execute_analysis(sales, products, customers, cities)
print(f"{len(city_results)} resultados de análisis de ciudades generados.")
city_results[:5]

96 resultados de análisis de ciudades generados.

[('Yonkers', 102038.0),
 ('Sacramento', 93261.0),
 ('St. Petersburg', 92329.0),
 ('Albuquerque', 92055.0),
 ('Phoenix', 90623.0)]

## Categorias de Productos mas vendidos

In [19]:
from collections import defaultdict

product_map = {p.product_id: (p.product_name, p.category_id) for p in products}
category_map = {c.category_id: c.category_name for c in categories}

context.set_strategy(ProductAnalysisStrategy())
product_results = context.execute_analysis(sales, products, customers, cities)

category_totals = defaultdict(float)
for pid, total in product_results:
    _, cid = product_map.get(pid, (None, None))
    if cid:
        category_name = category_map.get(cid, "Desconocida")
        category_totals[category_name] += total

top_categories = sorted(category_totals.items(), key=lambda x: x[1], reverse=True)[:5]
import pandas as pd
pd.DataFrame([
    {"Categoría": name, "Ingresos Totales": f"${total:,.2f}"}
    for name, total in top_categories
])

     Categoría Ingresos Totales
0  Confections      $998,526.00
1         Meat      $862,283.00
2      Poultry      $815,645.00
3      Cereals      $805,381.00
4      Produce      $736,564.00